


<header class="banner" style="background-image: url('<%= image_path("bg.jpg")%>');">

  <div class="tagline">
    <h1>Find your pill</h1>
    <h2>Travel protected</h2>
  </div>

</header>

<section class="search">
  <div class="row">
  <div class="col-sm-6 offset-sm-3">
  <%= form_tag pills_path, method: :get do %>
  <%= text_field_tag :query, params[:query], class: "form-control form-control-lg", placeholder: "Find your pill or country where you travel"%>
  <% end %>
</div>
</div>
</section>


  <% @pills.each do |n| %>



<div class="row">
  <div class="col-sm-6 offset-sm-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><%= n.name %></h5>
        <p class="card-text"><%= n.country %></p>
        <a href="#" class="btn btn-primary">Collect at the neareast pharmacy</a>
      </div>
    </div>
  </div>
</div>
 <% end %>



<%= form_tag import_pills_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import" %>
<% end %>





