


<header class="banner" style="background-image: linear-gradient(-225deg, rgba(192,192,170,0.4) 0%, rgba(28,239,255,0.4) 50%), url('<%= image_path 'bg1.jpg' %>');">

  <div class="tagline">
    <%= image_tag 'logo.png', size: "256x120" %>
    <h1>Find the right pill</h1>
    <h2>Travel protected</h2>
    <button type="button" class="btn btn-info btn-lg">
      <a href="#search">Begin</a>
    </button>
  </div>

</header>

<section class="search" id="search">
  <div class="row">
  <div class="col-sm-6 offset-sm-3">
  <%= form_tag pills_path, method: :get do %>
  <%= text_field_tag :query, params[:query], class: "form-control form-control-lg", placeholder: "What's your country ?"%>
  <% end %>
</div>
</div>
</section>


  <% @pills.each do |n| %>



<div class="row">
  <div class="col-sm-6 offset-sm-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><%= n.country %></h5>
        <p class="card-text"><%= n.name %></p>
        <a href="#" class="btn btn-info">Collect at the neareast pharmacy</a>
      </div>
    </div>
  </div>
</div>
 <% end %>



<%= form_tag import_pills_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import" %>
<% end %>





