
<header class="banner" style="background-image: url('<%= image_path 'bg1.jpg' %>');">
  <div class="tagline">
    <div class="row">
      <div class="col-xs-10 col-sm-6 offset-sm-3">
        <h3>Contraception pill in any country</h3>
        <%= form_tag contraceptionpills_path, method: :get do %>
        <%= text_field_tag :query, params[:query], size: 75, class: "form-control form-control-lg", placeholder: "Brand?"%>
        <%= text_field_tag :country, params[:country], size: 75, class: "form-control form-control-lg", placeholder: "Country?"%>
        <%= submit_tag "Search ", :query => nil %>
        <% end %>
      </div>
    </div>
  </div>
</header>

<%#= form_tag import_contraceptionpills_path, multipart: true do %>
  <%#= file_field_tag :file %>
  <%#= submit_tag "Import" %>
<%# end %>

<% if params[:query].present? %>
  <div class="summary">
    <% if @contraceptionpills.count == 0%>
      <h4>There are <%= @contraceptionpills.count%> types(s) of emergency pills available in
      <%= params[:query].capitalize %></h4>
    <% end %>
  </div>



  <div class="container" id="results">
    <div class="row">
      <table class="table">

        <thead>
          <tr>
            <th scope="col">Brand</th>
            <th scope="col">Country</th>
            <th scope="col">Equivalent</th>
          </tr>
        </thead>
        <tbody>
            <% @contraceptionpills.each do |n| %>
          <tr>
              <td><%= n.name %></td>
              <td><%= n.country%></td>
              <td><%= n.equivalent %></td>
          </tr>
          <% end %>
        </tbody>
      </table>

    </div>
  </div>
<% end %>








