<%#= form_tag import_contraceptionpills_path, multipart: true do %>
  <%#= file_field_tag :file %>
  <%#= submit_tag "Import" %>
<%# end %>



<header class="banner" style="background-image: url('<%= image_path 'bg1.jpg' %>');">
  <div class="tagline">
    <h1>take care of your body and sexuality while on the road</h1>

   <%= form_tag contraceptionpills_path, method: :get do %>
   <div class="form-row">

      <div class="col-md-4">

      </div>
      <div class="col-md-4">
        <% @dedup_pill_country = @contraceptionpills.map { |e| e.country  }.uniq.compact.sort %>
        <%= select_tag :country, options_for_select(@dedup_pill_country),class: "form-control form-control-lg", placeholder: "Country?" %>
      </div>
      <div class="col-md-4">

      </div>

     </div>
      <%= submit_tag "Search ", :query => nil, class:"boutton" %>
    </div>

    <% end %>
 </div>
</header>




<div class="summary">
    <p>
    This database has been built using as a reference the information found on Vademecum and drugs.com. We are currently working on  expanding the brand equivalent database. To optimise your search we recommend using the ingredient search, so you can find the brands containing your desired ingredients in your country of choice.
    </p>

    <div>
      <%= form_tag contraceptionpills_path, method: :get do %>
      <div class="form-row">

         <div class="col-md-4">
           <% @dedup_pill_brand = @contraceptionpills.map { |e| e.brand  }.uniq.compact.sort %>
           <%= select_tag :brand, options_for_select(@dedup_pill_brand), prompt: "Select your brand",class: "form-control form-control-lg"%>
         </div>

         <div class="col-md-4">
           <% @dedup_pill_ingredient = @contraceptionpills.map { |e| e.ingredient  }.uniq.compact %>

           <%= select_tag :ingredient, options_for_select(@dedup_pill_ingredient), prompt: "Select an Ingredient", class: "form-control form-control-lg"%>
         </div>
         <div class="col-md-4">
           <% @dedup_pill_country = @contraceptionpills.map { |e| e.country  }.uniq.compact.sort %>
           <%= select_tag :country, options_for_select(@dedup_pill_country),class: "form-control form-control-lg", placeholder: "Country?" %>
         </div>

        </div>
         <%= submit_tag "Search ", :query => nil, class:"boutton" %>
       </div>


    </div>



</div>

  <div class="container" id="results">
    <div class="row">
      <table class="table table-striped">

        <thead>
          <tr>
            <th scope="col">Brands</th>
            <th scope="col">Countries</th>
            <th scope="col">Ingredients</th>
            <th scope="col">Equivalents</th>
          </tr>
        </thead>
        <tbody>
            <% @contraceptionpills.each do |n| %>
          <tr>
              <td><%= n.brand %></td>
              <td><%= n.country%></td>
              <td><%= n.ingredient%></td>
              <td><%= n.equivalent %></td>
          </tr>
          <% end %>
        </tbody>
      </table>

    </div>
  </div>
<% end %>








