<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Women's health Services</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>

    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>

    <div class="navbar-wagon">
  <!-- Logo -->
  <a href="/" class="navbar-wagon-brand">
    <%= image_tag 'logo.png', size:"128" %>

  </a>




  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <a href="faq.html" class="navbar-wagon-item navbar-wagon-link">FAQ</a>
    <a href="" class="navbar-wagon-item navbar-wagon-link">Contact</a>
    <a href="" class="navbar-wagon-item navbar-wagon-link">Login</a>

    <!-- Profile picture with dropdown list -->
    <div class="navbar-wagon-item">
      <div class="dropdown">
        <ul class="dropdown-menu">
          <li><a href="#">Profile</a></li>
          <li><a href="#">Dashboard</a></li>
          <li><a href="#">Log Out</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
    <%= yield %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
        <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=ENV[GOOGLE_API_SERVER_KEY]
    &callback=initMap">
    </script>


  </body>
  <footer class="navbar navbar-light pink-bar-top">
      <div class="container"><span style="font-size:11px;"><a href="termsconditions.html">All right reserved to Nomadelle</a></span>
      </div>
    </footer>
</html>
