<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>TODO</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>

    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>

    <!-- <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '{1246381755497665}',
          cookie     : true,
          xfbml      : true,
          version    : '{latest-api-version}'
        });

        FB.AppEvents.logPageView();

      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "https://connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script> -->

    <nav class="navbar navbar-light pink-bar-top d">
      <a class="navbar-brand" href="">

      </a>
    </nav>
    <%= yield %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
        <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=ENV[GOOGLE_API_SERVER_KEY]
    &callback=initMap">
    </script>


  </body>
  <footer class="navbar navbar-light pink-bar-top">
      <div class="container">All right reserved to Nomadelle</span>
      </div>
    </footer>
</html>
